.d-flex {
  display: flex;
}

.alItem-center {
  align-items: center
}

.just-sb {
  justify-content: space-between;
}

.u-flex--center--space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}