div(class="left-header")
  a(href="./index.pug")
    img(class="header__logo" src="img/logo.png" alt="logo Coderecruiter")
  if section == "App"
    i(class="fas fa-bars js_sidebar")
  
if section == "App"
  nav(class="header__nav")
    ul(class="header__menu")
      li(class="header__item") 
        a(class="header__link" href="#") Sobre nosotros
      li(class="header__item")
        a(class="header__link active" href="#") Sedes
      li(class="header__item")
        a(class="header__link" href="#") Contáctanos
else 
  div(class="redes")
    span Siguenos en redes:
    i(class="fab fa-facebook-square header__icon")
    i(class="fab fa-instagram header__icon")
     