nav(class="app__sidebar")
  h2(class="sidebar__title") Sedes
  ul(class="sidebar__menu")
    li(class="sidebar__item")
      a(class="sidebar__link danger" href="#") Arequipa
    li(class="sidebar__item")
      a(class="sidebar__link" href="#") Trujillo
    li(class="sidebar__item")
      a(class="sidebar__link active" href="./dashboard.pug") Lima 