.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 50px;

    &__logo {
        width: 110px
    }
}