extends pug/templates/template.pug
  
block content
  main(class="index main-web")
    div(class="hero")
      div(class="content")
        h1 ENCUENTRA AL PRÓXIMO TALENTO AQUÍ #{hello}
        p Somos expertos en desarrollo de software, utilizando tecnologías de vanguardia.
        a(class="btn btn--hero" href="login.pug") Buscar Talento

      figure
        img(src="img/hero-image.png" alt="")
    
    div(class="specialist")
      h2 Somos especialistas
      p Nos sentimos cómodos trabajando con tecnologías back-end y también con front-end. Nuestro stack está conformado principalmente por los siguientes lenguajes:
      div(class="logos")
        img(class="specialist__logo" src="img/html.png" alt="logo HTMLS5")
        img(class="specialist__logo" src="img/css.png" alt="logo CSS3")
        img(class="specialist__logo" src="img/js.png" alt="logo Javascript")
        img(class="specialist__logo" src="img/sass.png" alt="logo SASS")
        img(class="specialist__logo" src="img/bootstrap.png" alt="logo Boostrap")
        img(class="specialist__logo" src="img/jquery.png" alt="logo Jquery")
        img(class="specialist__logo" src="img/react.png" alt="logo ReactJS")
        img(class="specialist__logo" src="img/angular.png" alt="logo Angular")
        img(class="specialist__logo" src="img/webpack.png" alt="logo Webpack")
        img(class="specialist__logo" src="img/python.png" alt="logo Python")
        img(class="specialist__logo" src="img/node.png" alt="logo Node JS")
        img(class="specialist__logo" src="img/postgres.png" alt="logo Postgres")
        img(class="specialist__logo" src="img/mongo.png" alt="logo MongoDB")

  
  